{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="alert alert-info">
    <p><i class="fas fa-3x fa-tools"></i>
      Select entries from the dropdown in the "Manual Category" to verify or correct the value in the "Top Predicted
      Category" column.</p>
  </div>

  <table id="products" class="table table-condensed table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Store</th>
      <th>Manual Category</th>
      <th>Top Predicted Category</th>
      <th>Prediction Confidence</th>
    </tr>
    </thead>
  </table>

{% endblock %}
{% block javascript %}
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'datatables/datatables.min.js' %}"></script>
  <script src="{% static 'axios/dist/axios.min.js' %}"></script>

  <script>

    // This displays options for the user dropdown. Extend as necessary.
    const AVAILABLE_CATEGORIES =
    {{ product_categories|safe }}
    const base_url = "/api/advanced_products/?format=datatables&recent=True"

    let editor

    $(document).ready(function () {
      editor = new $.fn.dataTable.Editor(
              {
                table: "#products",
                ajax: {
                  edit: {
                    type: "PATCH",
                    contentType: "application/json",
                    url: "/api/advanced_products/_id_/",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: function (d) {
                      return JSON.stringify(d)
                    }
                  }
                },
                "idSrc": "id",
                "fields": [
                  {
                    label: "ID",
                    name: "id"
                  },
                  {
                    label: "Predicted Category",
                    name: "category.predicted_category_1",
                    type: "select",
                    options: AVAILABLE_CATEGORIES
                  },
                  {
                    label: "Verified?",
                    name: "category.verified"
                  },
                  {
                    label: "Manual Category",
                    name: "category.manual_category",
                    type: "select",
                    options: AVAILABLE_CATEGORIES
                  }]
              }
      );

      editor.on('preSubmit', function (e, data, action) {
        $.each(data.data, function (key, values) {
          /*
          Sets the manual category field, sets verified=True, and makes sure the original predicted_category_1 field
          does not get overwritten.
           */
          data.data[key]['category']['user'] = "{{ user }}"
          data.data[key]['category']['verified'] = true
          data.data[key]['category']['manual_category'] = data.data[key]['category']['manual_category']
          delete data.data[key]['category']['predicted_category_1']
        })
      })


      const renderManualCategory = function (data, type, row) {
        if (type === 'display') {
          if (data === null) {
            return 'N/A <i class="fas fa-edit"/>'
          }
          return data + ' <i class="fas fa-edit"/>';
        }
        return data;
      };


      const linkToId = function (data, type, row) {
        if (type === 'display') {
          let id = data.toString(); // cast numbers
          return '<a href="/tools/product_browser/' + id + '"><i class="fas fa-link"></i></a>'
        }
        return data
      }

      const renderImage = function (data, type, row) {
        if (type === 'display') {
          let image = data.slice(-1)[0]  // Grab last image from array
          return `<img class="img-thumbnail" src=${image} width=80 height=80>`
        }
        return data
      }


      const renderConfidence = function (data, type, row) {
        if (type === 'display') {
          return +data.toFixed(2)  // Round to two digits
        }
        return data
      }

      // Per-column filtering
      $('#products thead tr').clone(true).appendTo('#products thead');
      $('#products thead tr:eq(1) th').each(function (i) {
        let title = $(this).text();
        $(this).html('<input type="text" placeholder="Filter" style="width: 100%" />');
        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
                    .column(i)
                    .search(this.value)
                    .draw();
          }
        });
      });


      let table = $("#products").DataTable(
              {
                dom: "Bfrltip",
                orderCellsTop: true,
                fixedHeader: true,
                serverSide: true,
                processing: false,
                buttons: [
                  'colvis'
                ],
                ajax: base_url,
                aoColumnDefs: [
                  {
                    bSortable: false,
                    targets: [1]
                  },
                  {
                    searchable: false,
                    targets: [1]
                  }
                ],
                columns: [
                  {
                    data: "id",
                    render: linkToId
                  },
                  {
                    data: "images",
                    render: renderImage
                  },
                  {data: "name"},
                  {data: "brand"},
                  {data: "store"},
                  {
                    data: "category.manual_category",
                    defaultContent: "N/A",
                    className: "editable",
                    render: renderManualCategory
                  },
                  {
                    data: "category.predicted_category_1",
                    defaultContent: "",
                    {#className: "editable",#}
                    {#render: editIcon#}
                  },
                  {
                    data: "category.confidence_1",
                    defaultContent: "",
                    {#className: "editable",#}
                    render: renderConfidence
                  },
                ],
                keys: {
                  columns: ':not(:first-child)',
                  editor: editor
                }
              }
      )

      // Activate an inline edit on click of a table cell
      table.on('click', 'tbody td.editable', function (e) {
        let cell = table.cell(this)
        editor.inline(this,
                {
                  // On clicking the save button, submit data to REST API. See preSubmit method to change the payload.
                  buttons: {
                    label: '<btn class="btn btn-sm btn-outline-primary">Save</btn>', fn: function (data) {
                      this.submit();
                      $('#products').DataTable().draw('page') // redraw table to show correct selected data
                    }
                  }
                }
        );
      });


    });
  </script>
{% endblock %}
