{% extends 'base.html' %}
{% load static %}
{% block section %}Product Curator{% endblock %}
{% block content %}

  <div class="alert alert-info">
    <p><i class="fas fa-3x fa-tools"></i>
      Select entries from the dropdown in the "Manual Category" to verify or correct the value in the "Top Predicted
      Category" column.</p>
  </div>

  <table id="products" class="table table-condensed table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Store</th>
      <th>Manual Category</th>
      <th>Manual Subcategory</th>
      <th>Predicted Category</th>
      <th>Predicted Subcategory</th>
      <th>Prediction Confidence</th>
    </tr>
    </thead>
  </table>

{% endblock %}
{% block javascript %}
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'datatables/datatables.min.js' %}"></script>
  <script src="{% static 'axios/dist/axios.min.js' %}"></script>
  <script src="{% static 'datatables/select2.min.js' %}"></script>
  <script src="{% static 'datatables/editor.select2.js' %}"></script>

  <script>
    // TODO: Add 'verify' button to allow user to quickly confirm a predicted category

    // This displays options for the user dropdown. Extend as necessary.
    const AVAILABLE_CATEGORIES =
    {{ product_categories|safe }}
    const AVAILABLE_SUBCATEGORIES =
    {{ product_subcategories|safe }}
    const base_url = "/api/advanced_products/?format=datatables&recent=True"

    let editor

    $(document).ready(function () {
      editor = new $.fn.dataTable.Editor(
              {
                table: "#products",
                ajax: {
                  edit: {
                    type: "PATCH",
                    contentType: "application/json",
                    url: "/api/advanced_products/_id_/",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: function (d) {
                      return JSON.stringify(d)
                    }
                  }
                },
                idSrc: "id",
                fields: [
                  {
                    label: "ID",
                    name: "id"
                  },
                  {
                    label: "Image",
                    name: "images"
                  },
                  {
                    label: "Predicted Category",
                    name: "category.predicted_category_1",
                  },
                  {
                    label: "Manual Category",
                    name: "category.manual_category",
                    type: "select2",
                    options: AVAILABLE_CATEGORIES,
                    opts: {
                      "placeholder": "Select value",
                      "allowClear": true
                    }
                  },
                  {
                    label: "Manual Subcategory",
                    name: "subcategory.manual_subcategory",
                    type: "select2",
                    options: AVAILABLE_SUBCATEGORIES,
                    opts: {
                      "placeholder": "Select value",
                      "allowClear": true
                    }
                  }]
              }
      );

      editor.on('preSubmit', function (e, data, action) {
        // console.log('preSubmit', JSON.stringify(data))
        $.each(data.data, function (key, values) {
          /*
          Sets the manual category field, sets verified=True,
           */

          // Set user and verified status
          values['user'] = "{{ user }}"
          values['verified'] = true

          if (typeof values.subcategory === 'undefined') {
            values.subcategory = []
            values.subcategory.manual_subcategory = null
          }

          // clean up the object depending on if the user is submitting a subcategory or category
          if (values.subcategory.manual_subcategory !== null) {
            values.manual_subcategory = values.subcategory.manual_subcategory
            delete values.category
            delete values.subcategory
          } else {
            values.manual_category = values.category.manual_category
            delete values.category
          }

        })
      })

      editor.on('postSubmit', function (e, data, action) {
        $('#products').DataTable().draw('page') // redraw table to show correct selected data
      })


      const renderEditField = function (data, type, row) {
        if (type === 'display') {
          if (data === null || data === undefined) {
            return 'n/a <i class="fas fa-edit"/>'
          }
          return data + ' <i class="fas fa-edit"/>';
        }
        return data;
      };


      const linkToId = function (data, type, row) {
        if (type === 'display') {
          let id = data.toString(); // cast numbers
          return '<a href="/tools/product_browser/' + id + '"><i class="fas fa-link"></i></a>'
        }
        return data
      }

      const renderImage = function (data, type, row) {
        if (type === 'display') {
          let image = data.slice(-1)[0]  // Grab last image from array
          if (image === undefined) {
            return `<i class="fas fa-exclamation-triangle"></i>`
          } else {
            return `<img class="img-thumbnail" src=${image} width=80 height=80>`
          }
        }
        return data
      }


      const renderConfidence = function (data, type, row) {
        if (type === 'display') {
          return +data.toFixed(2)  // Round to two digits
        }
        return data
      }

      function debounce(fn, delay) {
        // Debounce to allow for throttling the number of requests sent to the API on typing
        let timer = null;
        return function () {
          let context = this, args = arguments;
          clearTimeout(timer);
          timer = setTimeout(function () {
            fn.apply(context, args);
          }, delay);
        };
      }

      // Per-column filtering (typing is debounced)
      $('#products thead tr').clone(true).appendTo('#products thead');
      $('#products thead tr:eq(1) th').each(function (i) {
        let title = $(this).text();
        let column_id = title.replace(/\s+/g, '_').toLowerCase();
        $(this).html(`<input type="text" id="${column_id}" placeholder="Filter" style="width: 100%" />`);
        $('input', this).on('keyup change', debounce(function () {
                  table.ajax.reload()
                }, 200)
        );
      });

      let table = $("#products").DataTable(
              {
                dom: "Bfrltip",
                orderCellsTop: true,
                fixedHeader: true,
                serverSide: true,
                processing: false,
                buttons: [
                  'colvis'
                ],
                ajax: {
                  url: base_url,
                  data: function (d) {
                    // column filters to pass to api/views.py
                    d.column_filters = true
                    d.name = $('#name').val()
                    d.brand = $('#brand').val()
                    d.store = $('#store').val()
                    d.prediction_confidence = parseFloat($('#prediction_confidence').val())
                    d.manual_category = $('#manual_category').val()
                    d.manual_subcategory = $('#manual_subcategory').val()
                    d.predicted_category = $('#predicted_category').val()
                    d.predicted_subcategory = $('#predicted_subcategory').val()
                  }
                },
                aoColumnDefs: [
                  {
                    bSortable: false,
                    targets: [1]
                  },
                  {
                    searchable: false,
                    targets: [1]
                  },
                  // {
                  //   visible: false,
                  //   targets: [3, 4, 9]  // brand, store, confidence all not visible by default
                  // }
                ],
                columns: [
                  {
                    data: "id",
                    render: linkToId
                  },
                  {
                    data: "images",
                    render: renderImage
                  },
                  {data: "name"},
                  {data: "brand"},
                  {data: "store"},
                  {
                    data: "category.manual_category",
                    className: "editable",
                    render: renderEditField
                  }, {
                    data: "subcategory.manual_subcategory",
                    className: "editable",
                    render: renderEditField
                  },
                  {
                    data: "category.predicted_category_1",
                    defaultContent: "",
                  },
                  {
                    data: "subcategory.predicted_subcategory_1",
                    defaultContent: "",
                  },
                  {
                    data: "category.confidence_1",
                    defaultContent: "",
                    render: renderConfidence
                  },
                ],
                keys: {
                  columns: ':not(:first-child)',
                  editor: editor
                }
              }
      )

      // Activate an inline edit on click of a table cell
      table.on('click', 'tbody td.editable', function (e) {
        editor.inline(this,
                {
                  // On clicking the save button, submit data to REST API. See preSubmit method to change the payload.
                  buttons: {
                    label: '<button class="btn btn-sm btn-outline-primary">Save</button>', fn: function (data) {
                      this.submit();
                    }
                  }
                }
        );
      })


    });
  </script>
{% endblock %}
