{% extends "base.html" %}
{% load static %}
{% block section %}Data Visualization{% endblock %}
{% block content %}
  {% block product_javascript %}
    <script src="{% static 'plotly.js-dist/plotly.js' %}"></script>
  {% endblock %}

  <div class="container-fluid">
    <div class="row">
      {% autoescape off %}
        {{ figure2 }}
        {{ figure1 }}
      {% endautoescape %}
    </div>
    <div class="row">
      {% autoescape off %}
        {{ figure3 }}
      {% endautoescape %}
    </div>
  </div>



  <br>
{% endblock %}
