{% extends "base.html" %}
{% block content %}
    {% block extra_head %}
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    {% endblock extra_head %}

  <div class="container-fluid">
    <h1>Advanced Product Search</h1>
    <hr>
    <form>


      <div>
        <label for="ingredientSearch">Contains Ingredient</label>
        <div class="form-group ui-widget">
          <input class=form-control" id="ingredientSearch">
        </div>
      </div>

      <div>
        <label for="nameSearch">Name</label>
        <div class="form-group ui-widget">
          <input class=form-control" id="nameSearch">
        </div>
      </div>

      <button type="button" class="btn btn-primary search-button" onclick="searchDatabase()">Search</button>

    </form>

    <hr>
    <div>
      <p>Found <span id="nSearchResults">0</span> products.</p>
    </div>
    <div class="table table-sm table-striped" style="width:auto">
      <table id="resultsTable">
        <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Ingredients</th>
        </tr>
        </thead>
        <tbody class="results-body">
        <tr class="result-row">
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
    {% block product_javascript %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

      <script>
          $(document).ready(function () {
              // Prevent enter key from submitting the form
              $('form input').keydown(function (e) {
                  if (e.keyCode == 13) {
                      e.preventDefault();
                      $('.search-button').click();
                      return false;
                  }
              });

          });

          function searchDatabase() {
              const base_url = `/api/advanced_product/?format=datatables&`;

              let searchData = {
                  ingredients_contains: $("#ingredientSearch").val(),
                  name_contains: $("#nameSearch").val(),
              };

              console.log(searchData);

              // Filter out empty keys to simplify the query we pass to the API
              Object.keys(searchData).forEach((key) => (searchData[key] === '') && delete searchData[key]);
              console.log(searchData);

              const searchParams = new URLSearchParams(searchData);

              let table = $('#resultsTable').DataTable({
                  "serverSide": true,
                  "processing": false,
                  "buttons": ['copy', 'excel', 'pdf'],
                  "destroy": true,
                  "dom": 'Bfrtip',
                  "paging": true,
                  "ajax": base_url + searchParams.toString(),
                  "columns": [
                      {"data": "product_code"},
                      {"data": "name"},
                      {"data": "nutrition_facts.ingredients",  "defaultContent": ""},

                  ]
              });
          }

      </script>
    {% endblock %}
  <br>
{% endblock %}
