{% extends "base.html" %}
{% block content %}
    {% block extra_head %}
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    {% endblock extra_head %}

  <div class="container-fluid">
    <h1>Advanced Product Search</h1>
    <hr>
    <h4>Metadata</h4>

    <div class="row">
      <div class="col-lg-2">
        <div>Name</div>
        <select id="nameSearch" style="width: 80%"></select>
      </div>

      <div class="col-lg-2">
        <div>Brand</div>
        <select id="brandSearch" style="width: 80%"></select>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-lg-2">
        <div>Contains Ingredient(s)</div>
        <select id="ingredientSearch" style="width: 100%" multiple="multiple"></select>
      </div>
    </div>

    <hr>

    <!-- TODO: Nutrient dropdown with slider displaying min and max values for a) DV and b) raw nutrient amount  -->

    <div class="row">
      <div class="col">
        <h4>Nutrient Daily Value (DV) Filtering</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="btn btn-success" onclick="addNutrientDV()">Add Nutrient (+)</div>
      </div>
    </div>
    <br>

    <div id="nutrientDVZone"></div>

    <hr>

    <button type="button" class="btn btn-primary search-button" onclick="searchDatabase()">Search</button>

      {#      <div>#}
      {#        <label for="descriptionSearch">Description</label>#}
      {#        <div class="form-group ui-widget">#}
      {#          <input class=form-control" id="descriptionSearch">#}
      {#        </div>#}
      {#      </div>#}

    <hr>

    <div class="table table-sm table-striped" style="width:auto">
      <table id="resultsTable">
        <thead>
        <tr>
          <th></th>
          <th>Code</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Ingredients</th>
            {#          <th>Description</th>#}
        </tr>
        </thead>
        <tbody class="results-body">
        <tr class="result-row">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
            {#          <td></td>#}
        </tr>
        </tbody>
      </table>
    </div>

  </div>
    {% block product_javascript %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
      <script src="https://d3js.org/d3.v5.js"></script>
      <script src="https://unpkg.com/d3-simple-slider"></script>

      <script>
          $(document).ready(function () {
              // Prevent enter key from submitting the form
              $('form input').keydown(function (e) {
                  if (e.keyCode == 13) {
                      e.preventDefault();
                      $('.search-button').click();
                      return false;
                  }
              });


              $('#ingredientSearch').select2({
                  tags: true,
                  tokenSeparators: [','],
                  allowClear: true,
              });

              // Configure select2 for nameSearch
              $('#nameSearch').select2(
                  {
                      placeholder: '',
                      allowClear: true,
                      cache: true,
                      tags: true,
                      {#minimumInputLength: 3,#}
                      ajax: {
                          url: '/api/product_name/',
                          data: function (params) {
                              // Query parameters will be ?search=[term]
                              return {
                                  page: params.page || 1,
                                  search: params.term || ""
                              };
                          },
                          processResults: function (data, params) {
                              let page = params.page || 1;
                              // Transforms the top-level key of the response object from 'items' to 'results'
                              return {
                                  results: data.results,
                                  pagination: {
                                      more: (page * 10) <= data.count
                                  }
                              };
                          }
                      }
                  }
              );


              $('#brandSearch').select2(
                  {
                      placeholder: '',
                      allowClear: true,
                      cache: true,
                      tags: true,
                      ajax: {
                          url: '/api/brand_name/',
                          data: function (params) {
                              // Query parameters will be ?search=[term]
                              return {
                                  page: params.page || 1,
                                  search: params.term || ""
                              };
                          },
                          processResults: function (data, params) {
                              let page = params.page || 1;
                              // Transforms the top-level key of the response object from 'items' to 'results'
                              return {
                                  results: data.results,
                                  pagination: {
                                      more: (page * 10) <= data.count
                                  }
                              };
                          }
                      }
                  }
              )
          });

          const nutrientMarkup = (nutrientID) =>
              `
              <div class="row" id="nutrientRow-${nutrientID}">

                {# Nutrient #}
              <div class="col-lg-3">
                <div>Nutrient</div>
                <select class="form-control nutrientDVSelect" id="nutrientDVSearch-${nutrientID}">
                    {% for key, val in available_nutrients_dv.items %}
                      <option value="{{ key }}">{{ val }}</option>
                    {% endfor %}
                </select>
              </div>

                {# Minimum #}
              <div class="col-lg-2">
                <div>Minimum value (%)</div>
                <input readonly class="form-control nutrientDVMin" id="minDV-${nutrientID}">
              </div>

                {# Maximum #}
              <div class="col-lg-2">
                <div>Max value (%)</div>
                <input readonly class="form-control nutrientDVMax" id="maxDV-${nutrientID}">
              </div>

                {# Slider #}
              <div class="col-lg-4">
                <div id="nutrientDVslider-${nutrientID}"></div>
              </div>

              <div class="col">
                <div style="align-items: center; display: flex; justify-content: start; height: 100%">
                  <div class="btn btn-danger" onclick="deleteNutrient(this)" value="${nutrientID}"  id="btn-${nutrientID}">Delete (-)</div>
                </div>
              </div>

            </div>
           `;

          let nutrientID = 0;

          function addNutrientDV() {
              let nutrientRow = $(nutrientMarkup(nutrientID)).appendTo('#nutrientDVZone');
              let minDV = nutrientRow.find(`#minDV-${nutrientID}`);
              let maxDV = nutrientRow.find(`#maxDV-${nutrientID}`);

              // Upgrade the select
              $('.nutrientDVSelect').select2();

              // Default values for text boxes
              minDV.attr('value', 0);
              maxDV.attr('value', 100);

              // Instead, just disabling typing in the input fields o7
              // Add listener for updating the value attribute for input fields
              // minDV.keyup(function () {
              //     let val = Number($(this).val());
              //     minDV.attr('value', val);
              // });

              // maxDV.keyup(function () {
              //     let val = Number($(this).val());
              //     maxDV.attr('value', val);
              // });

              // Simple slider
              let sliderDV = d3
                  .sliderBottom()
                  .min(0)
                  .max(1)
                  .width(250)
                  .tickFormat(d3.format('.2%'))
                  .ticks(5)
                  .step(0.01)
                  .default([0, 1])
                  .fill('#2196f3')
                  .on('onchange', val => {
                      minDV.attr('value', (val[0] * 100).toFixed(2));
                      maxDV.attr('value', (val[1] * 100).toFixed(2));
                  });

              d3.select(`#nutrientDVslider-${nutrientID}`)
                  .append('svg')
                  .attr('width', 500)
                  .attr('height', 75)
                  .append('g')
                  .attr('transform', 'translate(35,35)')
                  .call(sliderDV);

              nutrientID += 1;
          }

          function deleteNutrient(element) {
              let btnID = $(element).attr('value');
              $(`#nutrientRow-${btnID}`).remove();
          }

          function searchDatabase() {
              const base_url = `/api/advanced_products/?format=datatables&`;

              let nutrientObject = {};
              $('#nutrientDVZone').children().toArray().forEach(x => {
                  let nutrient = $(x).find('.nutrientDVSelect option:selected').val();
                  let min = $(x).find('.nutrientDVMin').val();
                  let max = $(x).find('.nutrientDVMax').val();
                  if (parseFloat(max) === 100){
                      max = 10000;  // Allow much higher values than 100 for max DV even if it's set to 100
                  }
                  nutrientObject[nutrient] = [parseFloat(min) / 100, parseFloat(max) / 100]
              });

              let searchData = {
                  ingredients_contains: $("#ingredientSearch").val(),  // Array of ingredients
                  name_contains: $('#nameSearch :selected').text(),
                  brand_contains: $('#brandSearch :selected').text(),
              };

              // Filter out empty keys to simplify the query we pass to the API
              Object.keys(searchData).forEach((key) => (searchData[key] === '') && delete searchData[key]);

              // Append the nutrients and their DV ranges to the searchParams object
              let searchParams = new URLSearchParams(searchData);
              Object.keys(nutrientObject).forEach(nutrient => {
                  searchParams.append(nutrient, nutrientObject[nutrient].join(','))
              });


              $.fn.dataTable.render.link_to_id = function () {
                  // Custom render method to hyperlink a row value
                  return function (data, type, row) {
                      if (data === null) {
                          return null
                      }
                      if (type === 'display') {
                          let id = data.toString(); // cast numbers
                          return '<a href="/product_browser/' + id + '"><i class="fas fa-link"></i></a>'
                      }
                      // Search, order and type can use the original data
                      return data;
                  }
              };

              // Draw the table
              let table = $('#resultsTable').DataTable({
                  "serverSide": true,
                  "processing": true,
                  "buttons": [
                      'copy',
                      'excel',
                      'pdf'
                  ],
                  {#"searching": false,#}
                  "destroy": true,
                  "lengthMenu": [10, 100, 1000],
                  "dom": 'Bfrltip',
                  "paging": true,
                  "ajax": base_url + searchParams.toString(),
                  "columns": [
                      {"data": "id", "render": $.fn.dataTable.render.link_to_id()},
                      {"data": "product_code"},
                      {"data": "name"},
                      {"data": "brand"},
                      {"data": "nutrition_facts.ingredients", "defaultContent": ""},
                      {#{"data": "loblaws_product.description", "defaultContent": ""},#}
                  ]
              });
          }

      </script>
    {% endblock %}
  <br>
{% endblock %}
