{% extends 'reports_base.html' %}
{% load static %}
{% block section %}Data Quality{% endblock %}

{% block header %}
  <div style="flex: 25%; display: flex; align-items: center;" xmlns="http://www.w3.org/1999/html">
    <h1>Data Quality</h1>
  </div>
  <div style="flex: 75%;display: flex;text-align:center">
      <div style="flex: auto">
        Product Count</br>
        <h1>{{ product_count }}</h1>
      </div>
{#      <div style="flex: auto">#}
{#        Column Count#}
{#        <h1>{{ column_count }}</h1>#}
{#      </div>#}
      <div style="flex: auto">
        Products Missing NFTs
        <h1>{{ missing_nft }}</h1>
      </div>
{#      <div style="flex: auto">#}
{#        Total Data Completeness#}
{#        <h1>{{ completeness }}</h1>#}
{#      </div>#}
    </div>
{% endblock %}


{#{% block body %}#}
{#  <div style="flex: 33%">#}
{#    <b>Metadata:</b> {{ meta_columns }}#}
{#  </div>#}
{#  <div style="flex: 33%">#}
{#    <b>Product Information:</b> {{ info_columns }}#}
{#  </div>#}
{#  <div style="flex: 33%">#}
{#    <b>Nutrition Information:</b> {{ nft_columns }}#}
{#  </div>#}
{#{% endblock %}#}


{% block body %}
  {% block product_javascript %}
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plotly.js-dist/plotly.js' %}"></script>
  {% endblock %}
  <div style="flex: 20%;padding-top: 20px">
    <h3>
      Products Missing Nutrition Facts Tables by Category
    </h3>
    <br>
    <p>
      This graph shows products which are missing nutrition facts information, grouped by predicted category.
      The graph uses data for all stores combined.
      <br><br>
      <small>
        Note that products in the database have not been categorized by requirement to carry an NFT on their physical
        packaging. Hence, a caveat of this product count/percentage is that the number of products without NFTs includes
        products that would not be expected to carry them anyway (e.g. fresh fruits and vegetables). Regardless, many
        categories have a lower number of products with NFTs than expected (e.g. soups).
      </small>
    </p>
  </div>
  <div style="flex: 80%">
    {% autoescape off %}
      {{ figure1 }}
    {% endautoescape %}
  </div>

{% endblock %}

{% block lower %}
{% endblock %}

