{% extends 'base.html' %}
{% block section %}Reports{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="card reports">
      <div class="card-body">
        {% block header %}<h3>default header (override me)</h3>{% endblock %}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card reports">
      <div class="card-body">
        {% block body %}<h3>default body (override me)</h3>{% endblock %}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card reports">
      <div class="card-body">
        {% block footer %}<h3>default footer (override me)</h3>{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
