{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="card reports">
      <div class="card-body" style="display: flex">
        {% block header %}<h3>default header (override me)</h3>{% endblock %}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card reports">
      <div class="card-body" style="display: flex">
        {% block body %}<h3>default body (override me)</h3>{% endblock %}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card reports">
      <div class="card-body" style="display: flex">
        {% block lower %}<h3>default footer (override me)</h3>{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
