{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Welcome to FLAIME</h5>
        <p class="card-text">Use the panel on the left side of the page to navigate the system.
          Note that this application is still underdoing development.</p>
      </div>
    </div>


  </div>

  <div class="row">

    <div id="myDiv"></div>


  </div>

    {% block extra_js %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script>

          axios.get("/api/scrape_batches")
              .then(function (response) {
                  console.log(response)
              })
              .catch(function (error) {
                  console.log(error)
              })
              .finally(function () {
                  console.log("finally")
              });

          let data = [
              {
                  x: ['giraffes', 'orangutans', 'monkeys'],
                  y: [20, 14, 23],
                  type: 'bar'
              }
          ];

          Plotly.newPlot('myDiv', data);

      </script>


    {% endblock %}

{% endblock %}
