{% extends "base.html" %}
{% load static %}
{% block content %}
  {% load product_browser_extras %}

  <div class="container-fluid">
    <br>
    <h3>Product Detail</h3>
    <table class="table-sm">
      <tr>
        <td>Scrape date</td>
        <td><var>{{ product.batch.scrape_date }}</var></td>
      </tr>
      <tr>
        <td>Date added</td>
        <td><var>{{ product.created }}</var></td>
      </tr>
      <tr>
        <td>Date last modified</td>
        <td><var>{{ product.modified }}</var></td>
      </tr>
    </table>
  </div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview" role="tab"
         aria-controls="nav-overview" aria-selected="true">Overview</a>
      <a class="nav-item nav-link" id="nav-fop-tab" data-toggle="tab" href="#nav-history" role="tab"
         aria-controls="nav-fop" aria-selected="false">Product History</a>
    </div>
  </nav>
  <br>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">

      <div class="row">
        <div class="col">
          {# Basic product information from the Product model #}
          <div class="product-metadata">
            <table class="table table-hover">
              <tbody>
              <tr>
                <td class="row-label">Name</td>
                <td>{{ product.name }}</td>
              </tr>
              <tr>
                <td class="row-label">Brand</td>
                <td>{{ product.brand }}</td>
              </tr>
              <tr>
                <td class="row-label">Store</td>
                <td>{{ product.store }}</td>
              </tr>
              <tr>
                <td class="row-label">Product Code</td>
                <td>{{ product.product_code }}</td>
              </tr>
              <tr>
                <td class="row-label">UPC</td>
                <td>{{ product.upc_code }}</td>
              </tr>
              <tr>
                <td class="row-label">Price</td>
                {% if product.price == None %}
                  <td>N/A</td>
                {% else %}
                  <td>{{ product.price }}</td>
                {% endif %}
              </tr>
              <tr>
                <td class="row-label">Description</td>
                <td>{{ product.description|safe }}</td>
              </tr>
              <tr>
                <td class="row-label">
                  Category
                </td>
                {% if product.category.manual_category %}
                  <td>
                    <a href="/reports/category/{{ product.category.manual_category }}/">{{ product.category.manual_category }}</a>
                    <p class="text text-info">Category verified by: {{ product.category.verified_by }}</p>
                  </td>
                {% else %}
                  <td>
                    <a href="/reports/category/{{ product.category.predicted_category_1 }}/">{{ product.category.predicted_category_1 }}</a>
                    <p class="{{ confidence_styling }}">
                      Prediction confidence: {{ product.category.confidence_1|floatformat:2 }}</p>
                  </td>
                {% endif %}
                <td>
                </td>
              </tr>
              <tr>
                <td class="row-label">
                  Subcategory
                </td>
                {% if product.subcategory.manual_subcategory %}
                  <td>
                    <div>{{ product.subcategory.manual_subcategory }}</div>
                    <p class="text text-info">Subcategory verified by: {{ product.subcategory.verified_by }}</p>
                  </td>
                {% elif product.category.manual_category %}
                  <td>N/A</td>
                {% else %}
                  <td>
                    <div>{{ product.subcategory.predicted_subcategory_1 }}</div>
                    <p class="{{ subcategory_confidence_styling }}">
                      Prediction confidence: {{ product.subcategory.confidence_1|floatformat:2 }}</p>
                  </td>
                {% endif %}
              </tr>
              <tr>
                <td class="row-label">Atwater Result</td>
                <td>{{ product.atwater_result|render_atwater|safe }}</td>
              </tr>
              <tr>
                <td class="row-label">Breadcrumbs</td>
                <td>{{ product.breadcrumbs_array|render_breadcrumbs|safe }}</td>
              </tr>
              <tr>
                <td class="row-label">URL</td>
                <td><a href="{{ product.url }}">Link</a></td>
              </tr>
              </tbody>
            </table>

          </div>
          <div class="additional-metadata">
            {% if product.store.upper == 'LOBLAWS' %}
              {% include 'product_browser/loblaws_detail.html' %}
            {% elif product.store.upper == 'AMAZON' %}
              {% include 'product_browser/amazon_detail.html' %}
            {% elif product.store.upper == 'WALMART' %}
              {% include 'product_browser/walmart_detail.html' %}
            {% endif %}
          </div>
          <div class="product-nutrition">
            {% include 'product_browser/nutrition_detail.html' %}
          </div>
        </div>
        <div class="col-lg-4">
          {% for img in product_images %}
            <img src="{{ img }}" class="img-thumbnail img-fluid rounded" alt="">
            <br>
            <br>
          {% endfor %}
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
      {% include 'product_browser/product_history.html' %}
    </div>

  </div>
  <br>

  {% block product_javascript %}
    <script src="{% static 'axios/dist/axios.min.js' %}"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

  {% endblock %}

{% endblock %}
