{% block content %}

  <h4>Loblaws Metadata</h4>
    {#  <table class="table table-hover">#}
    {#    <tbody>#}
    {#    <tr>#}
    {#      <td class="row-label">Breadcrumbs</td>#}
    {#      <td>{{ product.loblaws_product.breadcrumbs_text|render_breadcrumbs|safe }}</td>#}
    {#    </tr>#}
    {#    <tr>#}
    {#      <td class="row-label">Description</td>#}
    {#      <td>{{ product.loblaws_product.description|safe }}</td>#}
    {#    </tr>#}
    {#    </tbody>#}
    {#  </table>#}
{% endblock %}
