{% block content %}
  {% load product_browser_extras %}

  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <table class="table table-hover nutrient-table" style="width:100%">
          <tr>
            <th class="card-header">Nutrient</th>
            <th class="card-header">Value</th>
            <th class="card-header">Daily Value</th>
          </tr>
          <tr>
            <td class="nutrient-name">Sodium</td>
            <td class="nutrient-value">{{ product.nutrition_facts.sodium|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.sodium_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Calcium</td>
            <td class="nutrient-value">{{ product.nutrition_facts.calcium|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.calcium_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Total Fat</td>
            <td class="nutrient-value">{{ product.nutrition_facts.totalfat|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.totalfat_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Monounsaturated Fat</td>
            <td class="nutrient-value">{{ product.nutrition_facts.monounsaturatedfat|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Polyunsaturated Fat</td>
            <td class="nutrient-value">{{ product.nutrition_facts.polyunsaturatedfat|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Saturated Fat</td>
            <td class="nutrient-value">{{ product.nutrition_facts.saturatedfat|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.saturatedfat_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Omega 3</td>
            <td class="nutrient-value">{{ product.nutrition_facts.omega3fattyacids|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.omega3fattyacids_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Trans Fat</td>
            <td class="nutrient-value">{{ product.nutrition_facts.transfat|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.transfat_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Potassium</td>
            <td class="nutrient-value">{{ product.nutrition_facts.potassium|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.potassium_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Total Carbohydrates</td>
            <td class="nutrient-value">{{ product.nutrition_facts.totalcarbohydrate|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.totalcarbohydrate_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Dietary Fibre</td>
            <td class="nutrient-value">{{ product.nutrition_facts.dietaryfiber|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.dietaryfiber_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Sugar</td>
            <td class="nutrient-value">{{ product.nutrition_facts.sugar|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Protein</td>
            <td class="nutrient-value">{{ product.nutrition_facts.protein|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Cholesterol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.cholesterol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Vitamin A</td>
            <td class="nutrient-value">{{ product.nutrition_facts.vitamina|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.vitamina_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Vitamin C</td>
            <td class="nutrient-value">{{ product.nutrition_facts.vitaminc|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.vitaminc_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Vitamin D</td>
            <td class="nutrient-value">{{ product.nutrition_facts.vitamind|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Vitamin E</td>
            <td class="nutrient-value">{{ product.nutrition_facts.vitamine|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Vitamin B6</td>
            <td class="nutrient-value">{{ product.nutrition_facts.vitaminb6|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Vitamin B12</td>
            <td class="nutrient-value">{{ product.nutrition_facts.vitaminb12|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Niacin</td>
            <td class="nutrient-value">{{ product.nutrition_facts.niacin|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Folacin</td>
            <td class="nutrient-value">{{ product.nutrition_facts.folacin|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Folate</td>
            <td class="nutrient-value">{{ product.nutrition_facts.folate|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Pantothenic Acid</td>
            <td class="nutrient-value">{{ product.nutrition_facts.pantothenicacid|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Pantothenate</td>
            <td class="nutrient-value">{{ product.nutrition_facts.pantothenate|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Alcohol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.alcohol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Carbohydrate</td>
            <td class="nutrient-value">{{ product.nutrition_facts.carbohydrate|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Erythritol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.erythritol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Glycerol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.glycerol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Isomalt</td>
            <td class="nutrient-value">{{ product.nutrition_facts.isomalt|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Lactitol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.lactitol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Maltitol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.maltitol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Mannitol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.mannitol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Polydextrose</td>
            <td class="nutrient-value">{{ product.nutrition_facts.polydextrose|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Sorbitol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.sorbitol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Xylitol</td>
            <td class="nutrient-value">{{ product.nutrition_facts.xylitol|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Iron</td>
            <td class="nutrient-value">{{ product.nutrition_facts.iron|format_nutrient_value }}</td>
            <td class="nutrient-dv">{{ product.nutrition_facts.iron_dv|format_dv }}</td>
          </tr>
          <tr>
            <td class="nutrient-name">Riboflavin</td>
            <td class="nutrient-value">{{ product.nutrition_facts.riboflavin|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Selenium</td>
            <td class="nutrient-value">{{ product.nutrition_facts.selenium|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Magnesium</td>
            <td class="nutrient-value">{{ product.nutrition_facts.magnesium|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Phosphorus</td>
            <td class="nutrient-value">{{ product.nutrition_facts.phosphorus|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Thiamine</td>
            <td class="nutrient-value">{{ product.nutrition_facts.thiamine|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
          <tr>
            <td class="nutrient-name">Zinc</td>
            <td class="nutrient-value">{{ product.nutrition_facts.zinc|format_nutrient_value }}</td>
            <td class="nutrient-dv"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="product-ingredients card" style="width:100%">
          <div class="card-header">
            <strong>Ingredients</strong>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ product.nutrition_facts.ingredients|render_ingredients }}</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="row">
        <table class="table table-hover serving-size-table" style="width: 100%">
          <tr>
            <td class="row-label">Total Size</td>
            <td>{{ product.nutrition_facts.total_size }}</td>
          </tr>
          <tr>
            <td class="row-label">Serving Size</td>
            <td>{{ product.nutrition_facts.serving_size_raw }}</td>

          </tr>
          <tr>
            <td class="row-label">Calories per serving</td>
            <td>{{ product.nutrition_facts.calories }} cal</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  {% block nutrient_detail_javascript %}
    <script>
      // Code to remove rows where there's no value in either the value or dv to reduce clutter
      let empty_cells = $(".nutrient-value:empty + .nutrient-dv:empty").each(
              function () {
                $(this).closest("tr").remove();
              }
      );
    </script>
  {% endblock %}

{% endblock %}

