{% extends "base.html" %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'datatables/datatables.min.css' %}">
{% endblock %}
{% block section %}Batch Browser{% endblock %}
{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table id="scrape_batches" class="table table-striped table-bordered" style="width:100%">
          <thead>
          <tr>
            <th>ID</th>
            <th>Scrape Date</th>
            <th>Store</th>
            <th>Total Products</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  {% block extra_javascript %}
    <script src="{% static 'axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'datatables/datatables.min.js' %}"></script>

    <script>

      $.fn.dataTable.render.link_to_id = function () {
        // Custom render method to hyperlink a row value
        return function (data, type, row) {
          if (data === null) {
            return null
          }
          if (type === 'display') {
            let id = data.toString(); // cast numbers
            return '<a href="/tools/batch_browser/' + id + '"><i class="fas fa-link"></i></a>'
          }
          // Search, order and type can use the original data
          return data;
        }
      };

      $(document).ready(function () {

        // Set date format
        if ($.fn.dataTable.isDataTable('#scrape_batches')) {
          let table = $('#scrape_batches').DataTable();
        } else {
          let table = $('#scrape_batches').DataTable({
            "serverSide": true,
            "processing": false,
            "ajax": "/api/scrape_batches/?format=datatables",
            "order": [[1, "desc"]],
            "aoColumnDefs": [
              {"bSortable": false, "aTargets": [0]},
              {"searchable": false, "targets": [0]},
              {"sType": "date", "targets": [1]},
            ],
            "columns": [
              {"data": "id", "render": $.fn.dataTable.render.link_to_id()},
              {"data": "scrape_date"},
              {"data": "store"},
              {"data": "total_products"},
            ]
          });
        }


      });
    </script>

  {% endblock %}

{% endblock %}
